@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    width: 33.3333%;
    padding: 15px;
}

.col-6 {
    width: 50%;
    padding: 15px;
}

/*###header###*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: absolute;
    width: 100%;
    padding: 24px 0;
}

.header-logo {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.header-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.header-link:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover {
    color: #ADFF00;
}

.header-link:hover:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -8px;
    background: #ADFF00;
}

/*###hero###*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../images/bg.png") no-repeat center/cover;
}

.hero-title {
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.hero-title span {
    color: #adff00;
}

.hero-desk {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.hero-span {
    font-weight: bold;
}


/*###about###*/

.about {
    padding: 155px 0;

}

.about-caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #090909;
    margin-bottom: 11px;

}

.about-title {
    font-size: 42px;
    line-height: 50px;
    color: #090909;
    margin-bottom: 10px;
    position: relative;
}

.about-title span {
    font-weight: bold;
}

.about-title:before {
    content: '';
    position: absolute;
    height: 0;
    width: 120px;
    border-bottom: 4px solid #ADFF00;
    bottom: 0;
}

.about-desk {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 25px 0 65px;
}

.about-vector {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.about-vector span {
    margin-right: 8px;
}

.about-svg {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.about-text {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.about-text span {
    font-weight: bold;
}
/*###team###*/
.team {
    background: url("../images/teambg.png") no-repeat center/cover;
    height: 550px;
}
.team-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    padding-top: 76px;
}
.team-title:before{
    position: absolute;
    content: '';
    width: 180px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 4px solid #ADFF00;
}
.team-title:after{
    position: absolute;
    content: '';
    width: 130px;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 4px solid rgba(173, 255, 0, 0.58);
}
.team-title span{
    color: #a5f300;
}
.team-col{
    text-align: center;
    padding: 77px 30px 93px 30px;
}
.team-col:hover > .team-img{
    border: 5px solid #ADFF00;
    border-radius: 100px;
}
.team-img{
    width: 120px;
    height: 120px;
    background: #C4C4C4;
    border-radius: 50vh;
    display: inline-block;
}
.team-col-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 13px 0;
}
.team-col-desk{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.team-col-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 229px;
    margin-top: 13px;
}




























/*###services###*/
.servrices{
    text-align: center;
}
.services-title{
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    color: #090909;
    position: relative;
    padding-top: 92px;
}
.services-title:before{
    position: absolute;
    content: '';
    width: 180px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 4px solid #ADFF00;
}
.services-title:after{
    position: absolute;
    content: '';
    width: 130px;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 4px solid rgba(173, 255, 0, 0.58);
}
.services-title span{
    font-weight: bold;
}
.services-desk{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 50px 170px 0 170px;
}
.services-row{
    display: flex;
    justify-content: center;
}
.services-col{
    margin-top: 92px;
    padding-bottom: 85px;
}
.services-col:hover > .services-item{
    background: #ADFF00;
}
.services-col:hover .services-item path{
    fill: #FFFFFF;
}
/*.services-col:hover > .services-item svg{*/
/*    background: #FFFFFF;*/
/*}*/
.services-item{
    width: 120px;
    height: 120px;
    border: 4px solid #ADFF00;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    position: relative;
}
.services-item svg{
    position: absolute;
    top: 34px;
    bottom: 35px;
    right: 32px;
    left: 32px;
}
.services-col-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 26px 0 15px 0 ;
}
.services-col-desk{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 278px;
}
/*###clients###*/

.clients {
    background: url("../images/computer-bg.png") no-repeat center/cover;
    height: 100vh;
    padding: 46px;
    text-align: center;
}

.clients-title {
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.clients-title:before {
    content: "";
    position: absolute;
    width: 180px;
    border-bottom: 4px solid #ADFF00;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

.clients-title:after {
    content: "";
    position: absolute;
    width: 130px;
    border-bottom: 4px solid rgba(173, 255, 0, 0.58);
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
}

.clients-box {
    margin-top: 63px;
}
/*.clients-col{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.airbnb {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.hubsport {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.google {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.microsoft {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.walmart {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.fedex {
    padding: 40px 5px;
    background: #FFFFFF;
    border-radius: 10px;
}

.row .col-4:nth-child(1) {
}

/*###test##*/
.test {
    padding: 81px 0;
    text-align: center;
    position: relative;
}

.test-title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #090909;
    position: relative;
}

.test-title:before {
    content: '';
    position: absolute;
    width: 180px;
    border-bottom: 4px solid #ADFF00;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;

}

.test-title:after {
    content: '';
    position: absolute;
    width: 130px;
    opacity: 0.2;
    border-bottom: 4px solid #C1FF00;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
}

.test-desk {
    padding: 0 340px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 47px 0 22px;
}

.test-desk:before {
    content: '“';
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    top: 135px;
    left: -760px;
    right: 0;
    color: #D5D6D8;

}

.test-desk:after {
    content: '”';
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    bottom: 57px;
    right: 0;
    left: 726px;


    color: #D5D6D8;
}

.test-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.test-info span {
    font-weight: bold;
}

.contacts {
    background: #090909;
    padding: 43px 0 72px 0;
    position: relative;
}

.contacts-title {
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;;
}

.contacts-title span {
    color: #adff00;
}
.contacts-form{
    width: 476px;
    margin: 0 auto;
}
.contacts-upper-form{
    display: flex;
    justify-content: space-between;
}
.contacts-upper-form input{
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    width: 178px;
    margin-top: 55px;
}
.contacts-email{
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    width: 100%;
    margin: 55px 0 54px 0;

}
.contacts-btn{
    font-weight: 500;
    line-height: 19px;
    color: #D5D6D8;
    display: inline-block;
    padding: 8px 59px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.contacts svg{
    position: absolute;
    top: -40px;
    right: 133px;
}
.footer{
    background: #000;
}
.footer-desk{
    text-align: center;
    padding: 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707173;
}



